<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginDAO</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jdbc.driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/pms</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc.username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc.password</param-name>
    <param-value>1234</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarServlet</display-name>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>control.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>control.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>control.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCarServlet</display-name>
    <servlet-name>InsertCarServlet</servlet-name>
    <servlet-class>control.InsertCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCarServlet</servlet-name>
    <url-pattern>/InsertCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertParkingServlet</display-name>
    <servlet-name>InsertParkingServlet</servlet-name>
    <servlet-class>control.InsertParkingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertParkingServlet</servlet-name>
    <url-pattern>/InsertParkingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTransactionServlet</display-name>
    <servlet-name>InsertTransactionServlet</servlet-name>
    <servlet-class>control.InsertTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTransactionServlet</servlet-name>
    <url-pattern>/InsertTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterfaceServlet</display-name>
    <servlet-name>InterfaceServlet</servlet-name>
    <servlet-class>control.InterfaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceServlet</servlet-name>
    <url-pattern>/InterfaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>control.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>control.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>control.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hardware</display-name>
    <servlet-name>Hardware</servlet-name>
    <servlet-class>HD.Hardware</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hardware</servlet-name>
    <url-pattern>/Hardware</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>control.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidServlet</display-name>
    <servlet-name>AndroidServlet</servlet-name>
    <servlet-class>control.AndroidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidServlet</servlet-name>
    <url-pattern>/AndroidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>control.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>control.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidDataServlet</display-name>
    <servlet-name>AndroidDataServlet</servlet-name>
    <servlet-class>control.AndroidDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidDataServlet</servlet-name>
    <url-pattern>/AndroidDataServlet</url-pattern>
  </servlet-mapping>
</web-app>